@media (min-width: 700px) {
    body {
        font-size: 18px;
        font-family: "Sacramento", sans-serif;
        background-color: #010a01;
        display: flex;
        overflow: hidden;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    footer {
        /* border-top: 1px solid #808080ab; */
        width: 6%;
        padding: 2%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    form.login {
        width: 33%;
        height: 80%;
        text-align: center;
        justify-content: center;
        border-radius: 20px;
        display: flex;
        padding: 8px;
        align-items: center;
        box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
        flex-direction: column;
        gap: 3%;
    }
    .input {
        font-family: 'Segoe UI', sans-serif;
        font-weight: bold;
        display: flex;
        margin: 0em 0 1em 0;
        width: 72%;
        /* height: 17%; */
        color: white;
        position: relative;
        flex-direction: column;
        align-items: center;
    }
    form.Create {
        width: 33%;
        height: 83%;
        /* text-align: center; */
        justify-content: center;
        border-radius: 20px;
        display: flex;
        padding: 8px;
        align-items: center;
        box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
        flex-direction: column;
        gap: 2%;
    }
    .user {
        width: 46%;
        height: 38%;
        text-align: center;
        justify-content: center;
        border-radius: 20px;
        display: flex;
        padding: 5px;
        box-shadow: rgb(83 21 157 / 94%) 0 0px 14px 5px;
        flex-direction: column;
    }
    .wrapper {
        padding: 5px;
        width: 46%;
        height: 27%;
        display: flex;
        justify-content: center;
    }
    .options {
        /* background: burlywood; */
        width: 85%;
        height: 51%;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 19%;
        row-gap: 9%;
        margin-top: 2%;
    }
    button.btn {
        width: 10%;
        padding: 1%;
        margin-top: 0%;
        background: #2f0d40;
        color: white;
        font-size: 16px;
        font-weight: bold;
        border: 0;
        border-radius: 23px;
        transition: background 0.3s ease, box-shadow 0.3s ease;
    }
    .qualification {
        cursor: pointer;
        width: 97%;
        height: 100%;
        /* padding: 80%; */
        z-index: 1;
        text-align: center;
        justify-content: space-around;
        border-radius: 20px;
        display: flex;
        padding: 5px;
        box-shadow: rgb(83 21 157 / 94%) 0 0px 14px 5px;
        flex-direction: column;
    }
    section.question {
        width: 85%;
        height: 79%;
        text-align: center;
        justify-content: center;
        border-radius: 20px;
        display: flex;
        padding: 8px;
        align-items: center;
        box-shadow: rgb(83 21 157 / 94%) 0 0px 14px 5px;
        flex-direction: column;
        gap: 5%;
    }
    .overlayy {
        cursor: pointer;
        width: 58%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        height: 72%;
        top: 111px;
    }
    .menu {
        padding: 14%;
        display: flex;
        border-radius: 22px;
        background: black;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* gap: 46%; */
    }
    
    

    button.login:hover, button.login:active, button.btn-create:hover, button.btn-create:active {
        background: #15081c;
        box-shadow: 0 0 0.2rem #fff, 0 0 0.1rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 0.3rem #bc13fe;
    }
}