<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="/script/login.js"></script>
    <title>Create user</title>
</head>
<body>
    <form class="Create">
        <label for="email"> email 
            <input type="text" id="email" required>
            <span class="email-msg"></span>
        </label>
        <label for="email">Username 
            <input type="text" id="username" required>
            
        </label>
        <label for="password">Contraseña
            <input type="text" id="password" required>
            <span class="password-msg"></span>
        </label>
        <button>Confirmar</button>
    </form>
</body>
</html>