<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script type="module" src="/script/login.js"></script>
    <link rel="stylesheet" href="/style/create-login-user.css">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/responsive.css">
    <title>Create user</title>
</head>
<body>
    <section class="wrapper-login">
        <form class="Create">
            <div class="input">
                <div class="tittle"><h1 class="neonText">
                    Crear Cuenta
                     </h1></div> 
            <label for="email">Email</label>
            <input type="text" id="email" required autocomplete="" >
            <span class="email-msg hidden"></span>
        </div>
        
        <div class="input">
            <label for="username" >Username</label>
            <input type="text" id="username" required autocomplete="" >
            <span class="username-msg hidden"></span>
        </div>

        <div class="input">
            <label for="password">Contraseña</label>
            <input type="text" id="password" required autocomplete="" >
            <span class="password-msg hidden"></span>
        </div>
        <a href="/home">Iniciar sección</a>
        
        <button class="btn-create" type="button">
            Crear
          </button>
    </form>
</section>
</body>
</html>