<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="/script/login.js"></script>
    
    <link rel="stylesheet" href="/style/index.css">
    <title>login</title>
</head>
<body>

    <form class="login">
        <label for="email">Email o Username 
            <input type="text" id="email" required>
        </label>
        <label for="password">Contraseña
            <input type="text" id="password" required>
        </label>
        <a href="/createuser">¿ No tines cuenta ?Crea una</a>
        <span class="msg"></span>
        <button>Confirmar</button>
    </form>
</body>
</html>