<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script type="module" src="/script/login.js"></script>
    <link rel="stylesheet" href="/style/create-login-user.css">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/responsive.css">
    <link href='https://fonts.googleapis.com/css?family=Sacramento:400' rel='stylesheet' type='text/css'>
    <title>login</title>
</head>
<body>
    <section class="wrapper-login">
      <form class="login">
        <div class="input">
          <div class="tittle"><h1 class="neonText">
          Iniciar Sección
           </h1></div> 
            <label for="name">Email o Username</label>
            <input type="text" id="email" required autocomplete="">
        </div>
        <div class="input">
            <label for="name">Contraseña</label>
            <input type="password" id="password" required autocomplete="">
        </div>
        <a id="user" href="/createuser">¿No tines cuenta?Crea una</a>
        <span class="msg"></span>
        <button class="login" type="button">
            Iniciar Sección
          </button>
    </form>
</section>
</body>
</html>